.sections {
  /* background-color: #44444462; */
  --section-tile-margin-left: 10px;
  --section-mv-tile-cont-mg-left: 15px;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 35px;
  flex-direction: column;
}

.continue-watching-cont {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  font-size: 20px;
  color: white;
}

#tile-heading {
  margin-left: var(--section-tile-margin-left);
  color: white;
}

.movie-tile-comp{
  display: flex;
  width: 100%;
  height: 100%;
}

.movie-tile-cont {
  --component-size: 280px;
  margin-left: var(--section-mv-tile-cont-mg-left);
  display: flex;
  flex-direction: column;
  background-color: #000000;
  height: 250px;
  width: var(--component-size);
}

#movie-img {
  height: 180px;
  width: var(--component-size);
}

.playButton {
  position: absolute;
  display: flex;
  height: 180px;
  width: var(--component-size);
  z-index: 3;
  justify-content: center;
  align-items: center;
}

#playButton {
  height: 80px;
  width: 80px;
}

.progressBar {
  position: relative;
  display: flex;
  width: var(--component-size);
  height: 3.5px;
  background-color: #8d8d8d;
  z-index: 9;
}

.progressCurrent {
  position: relative;
  display: flex;
  width: 50px;
  height: 3.5px;
  background-color: #fa0000;
  z-index: 9;
}

.movie-details-cont {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
}

.movieDetails {
  display: flex;
  flex-direction: column;
  width: var(--component-size);
  gap: 2px;
}

#movieName {
  color: white;
  font-size: 18px;
}

#duration {
  font-size: 16px;
}

#infoBtn {
  height: 36px;
  width: 36px;
}

.section-tiles{
  
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.tile-header{
  margin-left: var(--section-tile-margin-left);

}

.tile-header span{
  color: white;
}

.section-category-mv-cont{
  display: flex;
  width: auto;
  height: 250px;
  gap: 10px;
  margin-left: var(--section-mv-tile-cont-mg-left);
  overflow: hidden;
  cursor: pointer;
}

.slider {
  --slider-color: #25252589;
  z-index: 20;
  opacity: 0;
  position: absolute;
  display: flex;
  height: 250px;
  width: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--slider-color);
  transition: 200ms ease-in-out;
}

.slider:hover{
  opacity: 1;
}

.leftArrow img{
  transform: rotate(180deg);
}

.rightArrow {
  display: flex;
  background-color: var(--slider-color);
  left: 97%;
}

.section-movie-tile-cont{
  height: 250px;
  width: 180px;
  display: flex;
  transition: 300ms ease-in-out;
  /* transform: translateX(-1520px); */
  
}

#section-mv-thumb{
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.section-mv-name{
  opacity: 1;
  position: absolute;
  z-index: 15;
  display: flex;
  flex-wrap: wrap;
  height: 250px;
  width: 180px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #00000049;
  box-shadow: inset 0px 0px 14px 5px #00000022;
  transition: 300ms ease-in-out;
  cursor: pointer;
}

.section-mv-name:hover{
  opacity: 0;
}

.section-mv-name span{
  color: white;
  font-weight: 800;
  font-size: 28px;
}


.recentlyAddedBanner, .newEpisodeAvailable{
  position: absolute;
  z-index: 10;
  display: flex;
  height: 250px;
  width: 180px;
  justify-content: center;
  align-items: flex-end;
}

.recentlyAddedBanner span, .newEpisodeAvailable span{
  background-color: #fa0000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 150px;
  font-weight: 700;
  color: white;
  border-radius: 2px;
}

