* {
  --sidebar-accent: #161616;
  --sb-accounts: #181818;
  --categores-list-hover: #464646ad;
  --border-color: black;
  --font-color: #c7c4c4;
  color: var(--font-color);

}

/* div::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}

div::-webkit-scrollbar-track {
  background: var(--transparent0);
  border-radius: 100vw;
}

div::-webkit-scrollbar-thumb {
  background: var(--grey1);
  border-radius: 100vw;
}

div::-webkit-scrollbar-thumb:hover {
  background: var(--grey0);
} */

.sidebar-icon {
  display: flex;
  flex-direction: column;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 24px;
  height: 22px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition-duration: 0.3s;
}

.bars {
  width: 100%;
  height: 3.5px;
  background-color: var(--font-color);
  border-radius: 1px;
  transition-duration: 0.3s;
}

.icon-badge{
  --badge-size: 21px;
  position: absolute;
  background-color: #e70303;
  height: var(--badge-size);
  width: var(--badge-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  top: 10px;
  left: 34px;
  border: 3.5px solid #000000d4;
  /* box-shadow:  -4px 3px 10px #000000,
  5px -5px 10px #00000000; */
}

.sidebar-layer {
  position: absolute;
  background-color: var(--sidebar-accent);
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  align-items: center;
  transition: 300ms ease;
}

.focusOff {
  transform: translateX(-100%);
}

.focusOn {
  transform: translateX(0%);
}

.sb-layer-accounts {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: -5px 5px 6px var(--sb-accounts), 0px -0px 0px var(--sb-accounts); */
  border-bottom: 2.5px solid var(--border-color);
  font-size: 19px;
}

.user-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.user-cont span{
  color: white;
}

#switch-user {
  margin-right: 15px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.sb-layer-notifications{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2.5px solid var(--border-color);
}

.notfication-cont{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
}

.notif-badge{
  --badgge-size: 8px;
  width: var(--badgge-size);
  height: var(--badgge-size);
  background-color: red;
  border-radius: 50%;
}

.sb-layer-notifications img{
  margin-right: 12px;
}

.sb-layer-downloads{
  display: flex;
  width: 100%;
  height: 60px;
  gap: 10px;
  margin-left: 20px;
  justify-content: left;
  align-items: center;
  border-bottom: 2.5px solid var(--border-color);
}

.sb-layer-categories {
  display: flex;
  width: 100%;
  overflow: auto;
}



#categories {
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 10px;
  align-items: center;
  
}

.sb-layer-categories li {
  height: 47px;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}

.sb-layer-categories span {
  margin-left: 20px;
}

.sb-layer-categories li:hover {
  background-color: var(--categores-list-hover);
}

.sb-layer-categories li:focus{
  font-weight: 600;
}

